body {
    background-color: #fafafa;
}


.dino {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url("../imgs/dino.png");
    bottom: 0;
}

.cactus {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-image: url("../imgs/cactus.png");
}

@keyframes sliderRight {
    from {
        background-position: 70000%;
    }

    to {
        background-position: 0;
    }
} 

.background {
    position: absolute;
    bottom: 0;
    background-image: url("../imgs/background.png");
    background-repeat: repeat-x;
    animation: sliderRight 600s infinite linear;
    width: 100%;
    height: 200px;
}